site_name: IELTS Docs
site_url: http://abotw.github.io/Docs-IELTS
theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/favicon.svg
  palette:
    scheme: ielts
  features:
    - content.code.copy
    - search.suggest
    - search.highlight
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search
extra_css:
  - stylesheets/extra.css